/* General page container */
.pageContainer {
  background-color: #DADADA; /* Page background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

/* Page title */
.pageTitle {
  color: #333333;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem; /* Add some space below the title */
}

/* Scenario block shared style */
.scenarioBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin: 8px;
  width: 100%;
  max-width: 308px;
  border-radius: 16px;
  border: 2px solid #000;
  background: #FFF;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.scenarioBlock:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
  cursor: pointer;
}

/* Scenario title */
.scenarioTitle {
  color: #131313;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* Scenario content */
.scenarioContent {
  color: #131313;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

/* Button styling */
.favoriteButton {
  background-color: #0056b3;
  border: 1px solid #ccc;
  color: white;
  padding: 10px 20px; /* Increased padding */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.favoriteButton:hover {
  background-color: #003d80;
  color: white;
}

.favorited {
  background-color: #a94442; /* Red color for unfavored state */
  color: white;
  border: 1px solid #c9302c;
  padding: 10px 20px; /* Increased padding */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

.favorited:hover {
  background-color: #842029;
}

/* Responsive Grid Layout */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px; /* Space between blocks */
  width: 100%;
  max-width: 1200px; /* Max width of grid container */
  margin: auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .pageTitle {
    font-size: 24px;
  }

  .scenarioBlock {
    height: auto;
    padding: 16px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .pageTitle {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .scenarioContent {
    font-size: 14px;
  }

  .scenarioBlock {
    padding: 12px;
  }

  .favoriteButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}
